# Archivos y carpetas de Code::Blocks
*.layout
*.depend
*.layout1
*.cbp
*.layout2
*.layout3
*.tags

# Archivos de compilación
*.o
*.obj
*.exe
*.dll
*.so
*.dylib
*.out
*.class

# Carpetas de compilación
bin/
obj/

# Archivos específicos de sistema operativo
.DS_Store
Thumbs.db
